In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
my_list = [
    (1,"Kapil",34),
    (1,"Kapil",34),
    (1,"Satish",26),
    (2,"Satish",26)
]

In [3]:
df = spark.createDataFrame(my_list).toDF("id", "name", "age")

In [4]:
df.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  1| Kapil| 34|
|  1|Satish| 26|
|  2|Satish| 26|
+---+------+---+

In [5]:
# Distinct - Check duplication across all columns, that is same rows

In [6]:
df1 = df.distinct()

In [7]:
df1.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  2|Satish| 26|
|  1|Satish| 26|
+---+------+---+

In [8]:
# Consider only based on id column we want to check duplication

In [9]:
df.select("id").distinct().show()

+---+
| id|
+---+
|  1|
|  2|
+---+

In [10]:
# dropDuplicates

In [11]:
newDf = df.dropDuplicates()

In [12]:
newDf.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  2|Satish| 26|
|  1|Satish| 26|
+---+------+---+

In [13]:
df.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  1| Kapil| 34|
|  1|Satish| 26|
|  2|Satish| 26|
+---+------+---+

In [14]:
newDf1 = df.dropDuplicates(["name", "age"]) # It can drop any record

In [15]:
newDf1.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  1|Satish| 26|
+---+------+---+

In [16]:
df.dropDuplicates(["id"]).show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  2|Satish| 26|
+---+------+---+